@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #16048bfa;
	--dark-color-b: #2101f4da;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background: var(--dark-color-a);
	margin: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: var(--light-color);
}

.chat-container{
    width: 100%;
    max-width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    overflow: hidden;
    background: var(--light-color);
}

button {
	background: var(--dark-color-a);
	border: 0;
    border-radius: .6rem;
    margin: 1rem auto;
    text-align: center;
}

button a {
    cursor: pointer;
	padding: .4rem 2rem;
	background: var(--dark-color-a);
	color: var(--light-color);
	border: 0;
	font-size: 1rem;
    border-radius: .6rem;
    margin: 1rem auto;
    text-align: center;
    display: inline-block;
    text-decoration: none;
  }

.intro {
    text-align: center;
    margin: 1rem auto;
    width: 60%;
}
h1 {
    font-size: 2rem;
    margin: 1rem auto .5rem auto;
}
p {
    font-size: 1rem;
    margin: 0 auto 1rem auto;
}

/* Chat form */

.chat-header {
	background: var(--dark-color-b);
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-messages {
	padding: 3rem;
    max-width: 100%;
	max-height: 100%;
	overflow-y: scroll;    
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-b);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

.btn {
    cursor: pointer;
	padding: .4rem 2rem;
	background: var(--dark-color-a);
	color: var(--light-color);
	border: 0;
	font-size: 1rem;
    border-radius: .6rem;
    margin: 1rem auto;
    text-align: center;
    display: inline-block;
    text-decoration: none;
  }